.container {
  width: 300px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 65%;
  transform: translate(-50%, -50%);
  background: #f2f2f2;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}

.container .heading {
  text-align: center;
  color: hsl(205, 86%, 17%);
  padding: 20px;
  font-family: "Bangers", cursive;
  font-size: 1.5rem;
}

.nextButton {
  outline: none;
  border: none;
  margin-top: 8px;
}
.nextButtonHidden {
  display: none;
}

@media screen and (max-width: 600px) {
  .container {
    width: 70%;
    height: 65%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
  }
}
