.AttendancePage {
  /* display: flex; */
  flex-direction: row;
  justify-content: start;
}

@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Lobster&display=swap");

.container .heading {
  text-align: center;
  color: hsl(205, 86%, 17%);
  padding: 20px;
  font-family: "Bangers", cursive;
  font-size: 1.5rem;
}

.container {
  width: 300px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 65%;
  transform: translate(-50%, -50%);
  background: #f2f2f2;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}

.btn {
  text-transform: uppercase;
  background: transparent;
  color: hsl(205, 86%, 17%);
  padding: 0.5rem 1rem;
  width: 50%;
  /* letter-spacing: var(--spacing); */
  display: inline-block;
  transition: all 0.3s linear;
  font-size: 0.875rem;
  border: 2px solid hsl(205, 86%, 17%);
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
}
.btn:hover {
  color: #f6783a;
  background: #020031;
  border: 2px solid #f6783a;
}

@media screen and (max-width: 600px) {
  .container {
    width: 70%;
    height: 65%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
  }
}
