.h3Container {
  position: absolute;
  top: 21%;
  left: 35%;
  text-align: center;
  background-color: #32a852;
  color: #fff;
  width: 50%;
  box-shadow: 8px 15px 42px 0px rgba(0, 0, 0, 0.75);
  z-index: 0;
  max-width: 559px;
}

.h3Container h3 {
  columns: #000000;
  width: 100%;
  font-size: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: "Roboto Mono", monospace;
  box-decoration-break: slice;
  margin: 0;
}

.formContainer {
  position: absolute;
  left: 35%;
  top: 30%;
  text-align: center;
  background-color: #ffffff;
  width: 50%;
  border: 4px;
  box-shadow: 8px 15px 42px 0px rgba(0, 0, 0, 0.75);
  z-index: 0;
  max-width: 559px;
  font-size: 1.2em;
}

/* .formContainer hr {
  color: #000000;
  height: 10px;
} */

.formControl hr {
  width: 54%;
  margin-top: 0;
  margin-bottom: 0;
  border: solid 1px black;
}
.socialMediaLogin {
  display: flex;
  flex-flow: row;
  justify-content: center;
}
.socialMediaIcon {
  width: 10%;
  margin: 10% 20px;
  outline: none;
  border: none;
}

.socialMediaIcon:focus {
  outline: none;
  border: none;
}
.socialMediaIcon a {
  outline: none;
  border: none;
}
.socialMediaIcon a :focus {
  outline: none;
  border: none;
  box-shadow: 2px 2px 4px #000000;
}
.userName {
  text-align: left;
  width: 100%;
  outline: none;
  border: none;
  margin-top: 4%;
  /* margin-bottom: 5%; */
  margin-left: 5px;
  color: #000000;
  width: 50%;
  /* height: 20px; */
  font-size: 21px;
  height: 40px;
}
.userName:focus {
  outline: none;
  /* border-bottom: 1px solid #000000; */
}
.pwd {
  text-align: left;
  width: 100%;
  outline: none;
  border: none;
  margin-top: 4%;
  /* margin-bottom: 5%; */
  margin-left: 5px;
  color: #000000;
  width: 50%;
  /* height: 20px; */
  font-size: 21px;
  height: 40px;
}
.pwd:focus {
  outline: none;
  /* border-bottom: 1px solid #000000; */
}
.submitBtn {
  font-size: 20px;
  background-color: #32a852;
  /* color: 000; */
  /* color: #32a852; */
  color: #fff;
  border-radius: 10px;
  border: none;
  outline: none;
  width: 55%;
  height: 35px;
  margin: 7% 0 0 0;
}
.submitBtn:hover {
  outline: none;
  background-image: linear-gradient(315deg, #3bb78f 0%, #0bab64 74%);
}
.submitBtn:focus {
  outline: none;
  background-image: linear-gradient(315deg, #3bb78f 0%, #0bab64 74%);
}

.resetPassword {
  position: absolute;
  top: 102%;
  text-align: center;
  background-color: #32a852;
  color: #fff;
  width: 100%;
  line-height: 80px;
  box-shadow: 8px 15px 42px 0px rgba(0, 0, 0, 0.75);
  z-index: 0;
  max-width: 559px;
  font-size: 1.2em;
}
.resetPassword:hover:active {
  color: #ffffff;
  outline: none;
}
.resetPassword a:hover:active:focus {
  outline: none;
}
@media only screen and (max-width: 399px) {
  .h3Container {
    top: 20%;
    left: 10%;
    width: 80%;
  }
  .formContainer {
    left: 10%;
    width: 80%;
  }
}

@media only screen and (min-width: 400px) {
  .h3Container {
    top: 20%;
    left: 15%;
    width: 70%;
  }
  .formContainer {
    left: 15%;
    width: 70%;
  }
}

@media only screen and (min-width: 700px) {
  .h3Container {
    left: 33%;
    width: 50%;
  }
  .formContainer {
    left: 33%;
    width: 50%;
  }
}
