.headerImg {
  height: 60px;
  width: 250px;
}

.navbar {
  padding: 0.5rem 0;
}

.navDropDown {
  display: block;
  flex-basis: 100%;
  flex-grow: 1;
  background-color: #020031;
  color: #fff;
  width: 100vw;
  align-content: center;
  margin-bottom: -8px;
  margin-top: 8px;
  z-index: 99999;
}

.navLink {
  color: #fff;
  font-size: 20px;
}

.navLink:hover {
  color: #f6783a;
}
