.EventCardContainer {
  width: 100%;
  height: 100%;
  float: left;
}
.imgContainer {
  border: 2px;
  border-style: outset;
  margin: 2em 10%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  min-width: 20%;
  /* min-width: 50%; */
}
.imgContainer:hover {
  opacity: 0.5;
  transition: ease-out 1s;
}
.imgContainer:hover ~ .EventDetailsContainer {
  opacity: 1;
  transition: ease-in 2s;
  margin-top: 0;
  border-style: inset;
  outline: 0px solid transparent;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.EventDetailsContainer {
  opacity: 0.3;
  transition-property: opacity;
  padding: 5px 2px 0 2px;
  border: 2px;
  border-style: outset;
  margin: 2em 10%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  /* width: 100%; */
  height: inherit;
  font-weight: bold;
}
