.EventCardContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.imgContainer {
  border: 2px;
  border-style: outset;
  margin: 2em 0;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
  min-width: 20%;
}

.imgContainer img {
  height: 100%;
  width: 100%;
}

.imgContainer:hover {
  opacity: 0.5;
  transition: ease-out 1s;
}

.detailsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.eventTitle {
  font-weight: 600;
}

.eventDescription {
  font-size: 1rem;
}

@media only screen and (min-width: 600px) {
  .EventCardContainer {
    flex-direction: row;
    justify-content: space-around;
  }
  .imgContainer {
    height: 80vh;
    width: 50%;
  }

  .detailsContainer {
    padding-top: 0.5rem;
    justify-content: flex-start;
    height: 80vh;
    width: 50%;
  }
}
