@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Lobster&display=swap");
body {
  font-family: "Amatic SC", cursive !important;
  /* justify-content: center; */
  align-items: center;
  font-size: 0.75rem;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.frontPageContainer {
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 80%;
  height: auto;
  font-family: "Lobster", cursive;
  font-size: 0.65rem;
  background: #cccc66;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 2px #fff inset, -1px -1px 2px #fff inset;
  border-radius: 3px/6px;
}

.heading {
  text-align: center;
  color: #d2691e;
  padding: 8px;
  font-family: "Bangers", cursive;
  font-size: 1.5rem;
}

.emptyList {
  height: 50vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.itemList {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

@media only screen and (min-width: 550px) {
  .itemList {
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0.5rem 0px;
  }
}

.card {
  position: relative;
    float: left;
    margin: auto;
    width: 30%;
    /* height: 100%; */
    height: auto;
    padding: 30px;
    margin: 30px;
    box-shadow: 0 4px 8px 0 #00000033, 0 6px 10px 0 #00000030;
    
    transition: height 2s;
    cursor: pointer;
}
.card:hover{
  box-shadow: 0 4px 8px 0 #00000033, 0 6px 20px 0 #00000030;

}
.cardImageBox {
 
  transition: 0.5s ease;
  opacity: 1;
  display: block;
  width: 100%;
  /* height: 200px; */
  
  backface-visibility: hidden;
  cursor: pointer;
}

.cardImageBox .img,.img2 {
 
  transition: 0.5s ease;
  opacity: 1;
  display: block;
  width: 100%;
  /* height: 200px; */
  height: 50%;
  transition: 0.5s ease;
  backface-visibility: hidden;
  cursor: pointer;
  margin-bottom: 10px;
  height:240px;
}
.cardImageBox h6{
  color: green;
  font-weight: bold;
}
.card:hover .cardImageBox .img,.img2{
  transform: scale(1.1);
}
.img2{
  margin-top:28px;
  max-width: 500px;
  margin-bottom: 25px;
  cursor: "initial";
  padding:14px;
}
.content{
  height: 50%;
  /* display: none; */
  
}

.cardImageBox div ,.content div{
  display: flex;
    justify-content: space-between
}
label{
  font-size: 18px;
    font-weight: bold;
}
.cardImageBox div p,.content div p{
  font-size: 16px;
  color:rgb(199, 114, 16);
}
.itemDetails p{
  text-align:right;
  width:250px
}
.itemDesc{
  flex-direction: column;

}
.itemDesc p{
  margin: 0;
}
.readMore{
  cursor: pointer;
    color: blue !important;
    opacity: 0.7;
}
.readMore:hover{
  opacity: 1;
}
button:focus-visible{
  outline: none;
}