.container {
  display: flex;
  width: 100%;
  font-size: 4rem;
  justify-content: flex-end;
  align-items: center;
  background: #fff;
  height: 87vh;
  background-image: url("/assets/img/login.svg");
  background-repeat: no-repeat;
  padding-right: 4rem;
}

.form {
  width: 35%;
  min-height: 60%;
  background-color: #f2f2f2;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.5rem 0;
  box-shadow: 4px 4px 20px grey;
}

.formBody {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-around;
  padding: 0 0.5rem;
}

.inputSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 45%;
}

p {
  font-size: 26px;
}
.fa_user,
.fa_lock {
  font-size: 30%;
  margin-right: 4px !important;
  color: #642ec1e6 !important;
}

.form_row {
  display: flex;
  margin-bottom: 22px;
}

.passwordInput {
  margin-bottom: 0px !important;
}

.form_name {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.form_name div:nth-child(2) {
  height: 12px;
  font-size: 12px;
  color: red;
  text-align: left;
  font-weight: bold;
}
.forget_password {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.forget_password a {
  color: #780985;
  font-size: 14px;
}
.email {
  widows: 60%;
}

.col {
  width: 100%;
  display: flex;
}
.col input {
  color: black;
  border: none;
  border-bottom: 1px solid #000;
}
.col i {
  display: none;
}

.form_check {
  margin-bottom: 7px;
  color: black;
  display: flex;
  align-items: center;
}
.btner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.loginButton {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: bold;
}

input[type="number"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="text"]:focus {
  background: transparent !important;
  outline: none;
  opacity: 1 !important;
}

input[type="checkbox"] {
  width: 18px;
  margin-right: 4px;
}
.form_check_label {
  font-size: 16px;
  margin: 0;
}

.form-row i {
  font-size: 25px;
  color: #9da4a4;
}
.form_control {
  height: 100%;
  font-size: 30%;
  width: 100%;
  margin-bottom: 0%;
}
.form_check_input {
  height: 1vw;
  width: 2vw;
}
.header {
  font-weight: bold;
  text-align: center;
  font-size: 2rem;
  color: #7e57c2;
}
.login {
  width: 5rem;
  font-size: 1vw;
  padding: 0.25rem 0;
}
.no_account {
  font-size: 13px;
  margin-top: 7px;
  color: #ce0e0e;
  font-weight: bold;
  text-decoration: underline;
}

@media only screen and (max-width: 750px) {
  .form_inner {
    width: 87%;
  }
  .formpng {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
  .formpng .formBody {
    width: 100%;
  }
  .form_check_input {
    height: 14px;
    margin-right: 14px;
  }
  .formBody:last-child {
    display: none;
  }
  .form_check {
    display: flex;
    align-items: baseline;
  }
  .btner {
    align-items: center;
  }

  .login_png {
    display: none;
  }
}
/* 
  @media only screen and (max-width: 600px) {
    .container {
      background-color: #ce0e0e;
    }
  }

  @media only screen and (max-width: 400px) {
    .container {
      background-color: #000;
    }
  } */
