.LoginFormContainer {
  width: 30vw;
  height: 50vh;
  padding: 10px;
  margin: 5rem 2rem;
  border: 2px solid #f0ffff;
  background-color: #fff;
  position:absolute;
  left: 32%;
  top: 15%;
  box-shadow: 7px 10px 11px -2px rgba(107,100,100,0.33);
  -webkit-box-shadow: 7px 10px 11px -2px rgba(107,100,100,0.33);
  -moz-box-shadow: 7px 10px 11px -2px rgba(107,100,100,0.33);
}

.LoginForm {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.inputSection {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  justify-content: space-evenly;
}

.inputDiv {
  display: flex;
  flex-direction: row;
  position: relative;
}

.emailPlaceholderText {
  position: absolute;
  top: 0;
}

.smallEmailPlaceholderText {
  font-weight: 500;
  position: absolute;
  top: -28px;
  transition: top ease-in 0.25s;
}

.EmailInput {
  border: none;
  border-bottom: 2px solid #000;
  width: 100%;
}

.RollNumberInput:focus {
  outline: none;
  border-bottom: 1px solid #000;
  transition: border-bottom ease-in 0.25s;
}
.passwordPlaceholderText {
  position: absolute;
  top: 0;
}

.smallPasswordPlaceholderText {
  position: absolute;
  top: -28px;
  transition: top ease-in 0.25s;
  font-weight: 500;
}

.PasswordInput {
  border: none;
  border-bottom: 2px solid #000;
  width: 100%;
}
.PasswordInput:focus {
  outline: none;
  border-bottom: 1px solid #000;
  transition: border-bottom ease-in 0.25s;
}

.showHidePassword {
  position: absolute;
  top: 45vh;
  left: 1170px;
  cursor: pointer;
  height: 1.9rem;
  z-index: 200;
}

.SignInButtonContainer {
  margin-bottom: 20px;
}

.SignInButtonContainer button {
  width: 100%;
  height: 50px;
  font-size: 1.5rem;
}

.SignInButtonContainer button:hover {
  background-color: #0a4686;
  border: 2px solid #5491d1;
  transition: background-color ease-in-out 0.25s;
}
